.NaverFinanceLogo {
    display: flex;
    flex-direction: row;

    margin: 10px;
    background-color: #03AD4E;
    padding: 7px;

    cursor: pointer;

    border-radius: 5px;

    justify-content: center;
    text-align: center;

    align-items: center;

    white-space: nowrap;
}