div {
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.O_F {
    flex-wrap: wrap;
}

.O_S {
    overflow : scroll;
}

.OX_S {
    overflow-x: scroll;
}

.OY_S {
    overflow-y: scroll;
}

button {
    cursor: pointer;
    margin: 10px;
}


.Row {
    flex-direction: row;
}

body {
    margin: 0px;
    padding: 0px;
}

.MAC {
    justify-content: center;
    text-align: center;
}

.MAS {
    justify-content: start;
}

.MAE {
    justify-content: end;
}

.SAC {
    align-items: center;
}

.SAS {
    align-items: start;
}

.SAE {
    align-items: end;
}

.WFC {
    width: fit-content;
}

.HFC {
    height: fit-content;
}

.BB_LG {
    border-bottom: 1px solid lightgray;
}

.W_50 {
    width: 50%;
}

.W100 {
    width: 100%;
}

.MLR_5 {
    margin-right: 5px;
    margin-left: 5px;
}

.ML_5 {
    margin-left: 5px;
}

.MTB_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.M_10 {
    margin: 10px;
}

.FS_16 {
    font-size: 16px;
}

.FS_14 {
    font-size: 14px;
}

.P_3 {
    padding: 3px;
}

.P_5 {
    padding: 3px;
}

.PLR_5 {
    padding-left: 5px;
    padding-right: 5px;
}

.PTB_5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.PLR_10 {
    padding-left: 10px;
    padding-right: 10px;
}

.PTB_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.P_10 {
    padding: 10px;
}

.PLR_20 {
    padding-left: 20px;
    padding-right: 20px;
}

.PLR_15 {
    padding-left: 15px;
    padding-right: 15px;
}

.H_50 {
    height: 50px;
}

.MT_3 {
    margin-top: 3px;
}

.MT_5 {
    margin-top: 5px;
}

.MB_3 {
    margin-bottom: 3px;
}

.MB_5 {
    margin-bottom: 3px;
}

.PB_3 {
    padding-bottom: 3px;
}

.H_30 {
    height: 30px;
}

.H_20 {
    height: 20px;
}

.H_25 {
    height: 25px;
}

.FW_700 {
    font-weight: 700;
}

.FW_600 {
    font-weight: 600;
}

.FC_R {
    color: red;
}

.FC_Bk {
    color: black;
}

.CP {
    cursor: pointer;
}

.W_100 {
    width: 100%;
}

.FS_30 {
    font-size: 30px;
}


.NoEnter {
    white-space: nowrap;
}


.BR_5 {
    border-radius: 5px;
}